@import "icons";

/*
* COnternt pagination styles
*/
.site-pagination {
  font-weight: bold;
  line-height: 1.125;
  color: #e20074;
  display: flex;
  padding-bottom: 82px;
  position: relative;
  margin-top: 54px;

  // Prev/next links
  &__prev,
  &__next {
    display: inline-flex;
    align-items: center;
    margin: -10px;

    &::before {
      @extend %icon;
      content: "arrow";
      margin: 0 10px;
    }
  }

  &__next {
    margin-left: auto;
    flex-direction: row-reverse;

    &::before {
      transform: rotate(180deg);
    }
  }

  // Scroll to top button
  &__top {
    width: 32px;
    height: 32px;
    background: #e20074;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;

    &::before {
      @extend %icon;
      content: "arrow";
      color: #fff;
      transform: rotate(90deg);
    }
  }
}
