/*
* Content text styles
*/

body {
  font: 16px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 0.2em 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4,
  h5,
  h6 {
    font-size: 1em;
  }

  /* Remove margin from consecutive header */
  @for $a from 1 to 5 {
    @for $b from $a + 1 to 6 {
      h#{$a} + h#{$b} {
        margin-top: 0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 36px;

    /* Remove margin from first header */
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin: 1em 0;
  }

  ul {
    list-style: none;
    margin: 18px 0 18px 20px;
    padding: 0;

    li {
      padding-left: 23px;
      position: relative;

      + li {
        margin-top: 9px;
      }

      &::before {
        content: "";
        border-radius: 50%;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 0.7em;
        left: 0;
        transform: translateY(-50%);
        background: currentColor;
      }
    }
  }

  pre {
    overflow: auto;
  }

  img {
    max-width: 100%;
  }

  a {
    color: #e20074;
  }
}
