@import "normalize";
@import "typography";
@import "header";
@import "menu";
@import "pagination";
@import "table";
@import "quote";

@include icon-font;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 300px 1fr;
}

main {
  grid-row: 2;
  grid-column: 2;
  padding: 29px 47px 20px 47px;
  overflow: auto;
}
