{{ $rootPages := where .Site.RegularPages "Parent.Kind" "home" }}
{{ $currentPermalink := .Page.Permalink }}

<!-- Page menu -->
<aside class="page-menu">
	<nav>
		<!-- Homepage -->
		<a href="{{.Site.Home.Permalink}}"
			class="page-menu__entry{{ if eq .Site.Home.Permalink .Page.Permalink }} is-active{{ end }}">
			Home
		</a>
		<!-- Recursive menu template -->
		{{ template "menu" (dict "entries" (.Site.Home.Pages | union .Site.Home.Sections) "page" .Page) }}
	</nav>
</aside>

<!-- Menu template -->
{{ define "menu" }}
{{ $entries := .entries }}
{{ $page := .page }}
<ul>
	{{ range where $entries.ByTitle "Permalink" "!=" .Site.Home.Permalink}}
	<!-- Menu entry -->
	<li>
		{{ if or .Pages .Sections }}
		<button type="button" class="page-menu__entry page-menu__btn-expand">
			{{if .Title}}
			{{.Title}}
			{{else}}
			{{with .File}}{{.BaseFileName}}{{end}}
			{{end}}
		</button>
		<!-- Child entries -->
		{{ template "menu" (dict "entries" (.Sections | union .Pages) "page" $page) }}
		{{ else }}
		<!-- Leaf node (link) -->
		<a href="{{.Permalink}}" class="page-menu__entry{{ if eq .Permalink $page.Permalink }} is-active{{ end }}">
			{{ .Title | default .File.BaseFileName }}
		</a>
		{{ end }}
	</li>
	{{ end }}
</ul>

{{ end }}

<script>
	// Handle menu collapse/expand
	document.querySelector('.page-menu').addEventListener('click', function (event) {
		if (event.target.classList.contains("page-menu__btn-expand")) {
			event.target.classList.toggle("is-expanded");
		}
	});

	// Auto-expand section containing active page
	Array.prototype.slice.call(document.querySelectorAll('.page-menu__entry.is-active')).forEach(function (entry) {
		Array.prototype.slice.call(document.querySelectorAll('.page-menu__btn-expand')).forEach(function (expander) {
			if (expander.nextElementSibling.contains(entry)) {
				expander.classList.add('is-expanded');
			}
		})
	});
</script>