<!-- Content pagination controls -->
<footer class="site-pagination">
	<!-- Scroll to top -->
	<button type="button" class="site-pagination__top"></button>
</footer>

<script>
	// Load prev/next links from menu
	(function () {
		var activeLink = document.querySelector('.page-menu__entry.is-active');
		var pagination = document.querySelector('.site-pagination');

		if (activeLink) {
			var links = Array.prototype.slice.call(document.querySelectorAll('.page-menu__entry'));
			var idxActiveLink = links.indexOf(activeLink);

			function isUrl(idx) {
				return links[idx].matches ? links[idx].matches('[href]') : links[idx].msMatchesSelector('[href]');
			}

			// Find prev link in menu and clone
			for (var prevIdx = idxActiveLink - 1; prevIdx >= 0; --prevIdx) {
				if (isUrl(prevIdx)) {
					var node = links[prevIdx].cloneNode(true);
					node.className = 'site-pagination__prev';
					pagination.appendChild(node);
					break;
				}
			}

			// Find next link in menu and clone
			for (var nextIdx = idxActiveLink + 1; nextIdx < links.length; ++nextIdx) {
				if (isUrl(nextIdx)) {
					var node = links[nextIdx].cloneNode(true);
					node.className = 'site-pagination__next';
					pagination.appendChild(node);
					break;
				}
			}
		}
	}());

	// Handle scroll button click
	document.querySelector('.site-pagination__top').addEventListener('click', function() {
		document.querySelector('main').scrollTop = 0;
	})
</script>