{{ define "main" }}
<!-- This probably should be updated to display summmary info for list of pages -->
<main>
	<article>
		{{ .Content }}
	</article>
	{{ partial "pagination" . }}
</main>
{{ end }}